<div class='address'>

  <div class='address__back'>
    <button mat-button (click)='navToList()'>Back to List</button>
  </div>

  <div class='address__detail--container'>
    <h2>{{ address?.name?.first }} {{ address?.name?.last }}</h2>
    <p>{{ address?.cell }}</p>
  </div>

</div>
