<div *ngIf="!dataLoaded">
  <p>Loading Addresses...</p>
</div>

<div *ngIf=!!dataLoaded>
  <table mat-table [dataSource]="dataSource.results" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element" (click)="navToDetail(element)"> {{element.name.first}} {{ element.name.last }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

